.rm-td {
  text-decoration: none !important;
}
.h5-com {
  color: #1d366d;
  font-weight: 550;
}
.com_icon {
  width: 150px;
  display: flex;
  margin: auto;
  height: auto;
}
.com_icon img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid #1d366d;
  object-fit: contain;
  height: auto;
}

/* calendar style */
.fc-col-header-cell-cushion {
  color: black !important;
  text-decoration: none !important;
}
.fc-daygrid-day-number {
  color: black !important;
  text-decoration: none !important;
}
.fc-button-primary {
  background-color: #1976d2 !important ;
  border: 1px solid #1976d2 !important;
}
